
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>
    XYZ Shop Company Contact Information
</h2>
<pre>
   Email: info@xyzshop.com 
   Phone: 1-800-800-800 
   Address: 55 Pizza lane, Bridgeport, CT
</pre>

