
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Welcome to MyBank - MVC 2015 Version</h2>
We have created an improved version of our popular banking application.
This application is based on MVC - one of the most popular web application
architectures in use today.

