
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Recent News MyBank</h2>
LoggedIn User : @ViewBag.Username
<p>
    MyBank announces special rates on a CD for 12 month deposit.
</p>
<p>
    A new branch will be opening at UB Campus next Fall.
</p>
<p>
    &nbsp;
</p>

