body 
{
    font-family:Arial;
    font-size:10pt;
    color:black;
}

.myBanner
{
    font-family:Tahoma;
    font-size:20pt;
    text-align:center;
    background-color:#ffffc0; /* light yellow */
    color:#c00000;  /* dark red */
}

.myHeading
{
    font-family:Tahoma;
    font-weight:bold;
    font-size:12pt;
    text-align:left;
    color:#c00000;  /* dark red */
}

.mainButton
{
    color:white;
    background-color:#c00000;
    font-size:10pt;
}

.para1
{
    font-size:12pt;
    color:#00c000;
}

.boxstyle
{
    border : 1px solid red;
    background-color : #fffff0;
}
